<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

    <xacro:property name="package_name" value="main_package" />

    <!-- SHARED -->
    <xacro:include filename="$(find ${package_name})/description/shared/inertial_macros.xacro" />
    <xacro:include filename="$(find ${package_name})/description/shared/materials.xacro" />
    <xacro:include filename="$(find ${package_name})/description/shared/properties.xacro" />
    <xacro:include filename="$(find ${package_name})/description/shared/supports.urdf.xacro" />

    <!-- FUNCTIONAL -->
    <xacro:include filename="$(find ${package_name})/description/functional/depth_camera.urdf.xacro" />
    <xacro:include filename="$(find ${package_name})/description/functional/display.urdf.xacro" />
    <xacro:include filename="$(find ${package_name})/description/functional/lidar.urdf.xacro" />
    <xacro:include filename="$(find ${package_name})/description/functional/mic.urdf.xacro" />
    <xacro:include filename="$(find ${package_name})/description/functional/stop_button.urdf.xacro" />

    <!-- ROBOT -->
    <xacro:include filename="$(find ${package_name})/description/robot/robot_core.xacro" />
    <xacro:include filename="$(find ${package_name})/description/robot/robot_level_1.xacro" />
    <xacro:include filename="$(find ${package_name})/description/robot/robot_level_2.xacro" />
    <xacro:include filename="$(find ${package_name})/description/robot/robot_level_3.xacro" />

</robot>