<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="robot_ros2_control"
    params="name use_fake_hardware:=^|false fake_sensor_commands:=^|false use_sim:=^|false">

    <ros2_control name="${name}" type="system">
      <hardware>
        <xacro:if value="${use_fake_hardware}">
          <plugin>fake_components/GenericSystem</plugin>
          <param name="fake_sensor_commands">${fake_sensor_commands}</param>
          <param name="state_following_offset">0.0</param>
        </xacro:if>

        <xacro:unless value="${use_sim}">
          <plugin>omni_wheel_controller/RobotSystem</plugin>
          <param name="omni_wheel_names">
            ['wheel0_shaft_joint', 'wheel1_shaft_joint', 'wheel2_shaft_joint', 'wheel3_shaft_joint']
          </param>

          <param name="omni_wheel_angle">[0.785398, 2.356194, -2.356194, -0.785398]</param>
          <param name="omni_wheel_distance">0.22</param>
          <param name="wheel_radius">0.0675</param>
          <param name="odom_frame_id">odom</param>
          <param name="base_frame_id">base_link</param>
          <param name="pose_covariance_diagonal">[0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]</param>
          <param name="twist_covariance_diagonal">[0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]</param>

          <param name="enable_odom_tf">true</param>

          <param name="cmd_vel_timeout">3.0</param>
          <param name="publish_limited_velocity">true</param>
          <param name="velocity_rolling_window_size">10</param>

          <param name="linear.x.has_velocity_limits">true</param>
          <param name="linear.x.has_acceleration_limits">false</param>
          <param name="linear.x.has_jerk_limits">false</param>
          <param name="linear.x.max_velocity">1.0</param>
          <param name="linear.x.min_velocity">-1.0</param>
          <param name="linear.x.max_acceleration">0.4</param>
          <param name="linear.x.min_acceleration">-0.4</param>
          <param name="linear.x.max_jerk">0.5</param>
          <param name="linear.x.min_jerk">-0.5</param>

          <param name="linear.z.has_velocity_limits">true</param>
          <param name="linear.z.has_acceleration_limits">false</param>
          <param name="linear.z.has_jerk_limits">false</param>
          <param name="linear.z.max_velocity">1.0</param>
          <param name="linear.z.min_velocity">-1.0</param>
          <param name="linear.z.max_acceleration">0.4</param>
          <param name="linear.z.min_acceleration">-0.4</param>
          <param name="linear.z.max_jerk">0.5</param>
          <param name="linear.z.min_jerk">-0.5</param>
        </xacro:unless>

        <xacro:if value="${use_sim}">
          <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </xacro:if>
      </hardware>
      <joint name="wheel0_shaft_joint">
        <command_interface name="velocity">
          <param name="min">-6</param>
          <param name="max">6</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="wheel1_shaft_joint">
        <command_interface name="velocity">
          <param name="min">-6</param>
          <param name="max">6</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="wheel2_shaft_joint">
        <command_interface name="velocity">
          <param name="min">-6</param>
          <param name="max">6</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
      <joint name="wheel3_shaft_joint">
        <command_interface name="velocity">
          <param name="min">-6</param>
          <param name="max">6</param>
        </command_interface>
        <state_interface name="position">
          <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
    </ros2_control>

  </xacro:macro>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find main_package)/config/robot_config.yaml</parameters>
      <parameters>$(find main_package)/params/gaz_ros2_ctl_use_sim.yaml</parameters>
    </plugin>
  </gazebo>

</robot>