<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="stop_button" params="nameprefix parent length radius mass *origin">
        <joint name="${nameprefix}_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${nameprefix}_link" />
            <xacro:insert_block name="origin" />
        </joint>

        <link name="${nameprefix}_link">
            <visual>
                <geometry>
                    <cylinder length="${length}" radius="${radius}" />
                </geometry>
                <material name="red" />
            </visual>
            <collision>
                <geometry>
                    <cylinder length="${length}" radius="${radius}" />
                </geometry>
            </collision>
            <xacro:inertial_cylinder
                mass="${mass}"
                length="${length}" radius="${radius}">
                <origin xyz="0 0 0" rpy="0 0 0" />
            </xacro:inertial_cylinder>
        </link>

        <gazebo reference="${nameprefix}_link">
            <material>Gazebo/Red</material>
        </gazebo>
    </xacro:macro>

</robot>