<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- ROBOT PROPERTIES -->
    <xacro:property name="support_height" value="0.225" />
    <xacro:property name="support_radius" value="0.005" />

    <!-- BASE PLATE -->

    <!-- ARM -->

    <!-- LIDAR -->

    <!-- SUPPORT -->

</robot>